
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_mytemplate_nanny.cshtml";
}

<div class="form-style-8">
    <table>
        <h2>You have succesfully applied for this offer!</h2>
    </table>
</div>

